.custom-dropdown-menu {
    /*드롭다운 전체박스*/
    border-radius: 8px !important;
    border: 1px solid #27C7B9 !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08) !important;
    padding: 6px !important;
    min-width: 100px !important;
}

.custom-dropdown-btn {
    border: none !important;
    background-color: #f1f3f5 !important;
    width: 95px !important;
    height: 45px;
    color: #333 !important;
    font-size: 18px !important;

}

.custom-dropdown-btn:hover/*클릭시*/,
.custom-dropdown-btn:focus/*클릭후 스타일유지*/ {
    background-color: #27C7B9 !important;
    border-color: #27C7B9 !important;
    color: #ffffff !important;
}

.custom-dropdown-menu .dropdown-item {
    /*드롭다운 세부항목*/
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 17px;
    color: #333;
    transition: background-color 0.12s ease;
}

.custom-dropdown-menu .dropdown-item:hover {
    /*항목 회색 음영 및 글자색 변환*/
    background-color: #f5f6f8 !important;
    color: #27C7B9 !important;
    font: bold;
    font-weight: 600;
}

.page-btn {
    /*페이지버튼 박스*/
    min-width: 45px;
    height: 45px;
    margin: 0 4px;
    border-radius: 8px;
    border: none;
    background-color: #f1f3f5;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.page-btn:hover {
    background-color: #27C7B9;
    color: #ffffff;
}

.page-btn.active {
    /*선택된 페이지 강조*/
    background-color: #27C7B9;
    color: #ffffff;
}

page-btn:focus {
    box-shadow: none !important;
    outline: none !important;
}


.list-area {
    /*테이블 전체*/
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.list-area td {
    /*게시글 리스트*/
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
}

.search-area form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    /*검색창*/
    margin: 0 10px 0 10px !important;
    border-radius: 9px !important;
    background-color: #f1f3f5;
    border: none;
    height: 45px;
    width: 400px;
    padding-left: 16px;
    padding-right: 16px;
}
.search-input:focus{
    outline:none;   
    border:1.5px solid #27C7B9; 
}

.search-btn{
    /*검색버튼*/
    border:none;
    background-color: #f1f3f5;
    border-radius: 8px !important;
    padding: 0 10px !important;
    font-size: 18px ;
    color: #333;
    width: 80px;
    height:45px;
}

.search-btn:hover{
    background-color: #27C7B9;
    color: #ffffff;
    transition: background-color 0.25s ease;
}

.insert-task{
    border: none;
    border-radius: 8px;
    height: 45px;
    padding: 0 12px 0 12px;
}
.insert-task:hover{
    cursor: pointer;
    color: white;
    font-size: 17px;
    background-color: #27C7B9;
    transition: 0.3s;
}


.status-badge {
    /*진행도뱃지*/
    margin: auto;
    display: inline-flex;
    padding: 6px 14px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.status-gray {background-color: rgb(117, 117, 117);}/*업무준비*/
.status-red {background-color: red;}/*1~50*/
.status-yellow {background-color: rgb(255, 166, 0);}/*51-100*/
.status-blue {background-color: rgb(31, 121, 255);}/*완료요청*/
.status-green {background-color: rgb(1, 177, 39);}/*업무 완료*/

.up-btn button {
    /*수정삭제버튼*/
    margin: 3px;
}