.content-area {
    width: 1000px;
}

/*정렬용 컨테이너*/
.task-btnset {
    display: flex;
    justify-content: center;
}

/*폼 내부 요소*/
.search-form {
    display: flex;
    align-items: center;
    gap: 12px;
}

/*드롭다운 전체박스*/
.list-drop {
    height: 45px;
    border-radius: 8px;
    border: 1px solid #27C7B9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 6px;
    min-width: 100px;
}

/*클릭시*/

.list-drop:hover {
    background-color: #27C7B9 !important;
    border-color: #27C7B9 !important;
    color: #010101 !important;
}

/*클릭후 스타일유지*/
.list-drop:focus {
    background-color: #f8fafa !important;

}

/*검색창*/
.search-input {
    border-radius: 9px;
    background-color: #f1f3f5;
    border: none;
    height: 45px;
    width: 400px;
    padding-left: 16px;
    padding-right: 16px;
}

/*검색창 활성화시 아웃라인 커스텀*/
.search-input:focus {
    outline: none;
    border: 1.5px solid #27C7B9;
}

.search-btn {
    /*검색버튼*/
    border: none;
    background-color: #f1f3f5;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 18px;
    color: #333;
    width: 80px;
    height: 45px;
}

.search-btn:hover {
    background-color: #27C7B9;
    color: #ffffff;
    transition: background-color 0.25s ease;
}

.up-btn button {
    /*수정삭제버튼*/
    margin: 3px;
}

.page-btn {
    /*페이지버튼 박스*/
    min-width: 45px;
    height: 45px;
    margin: 0 4px;
    border-radius: 8px;
    border: none;
    background-color: #f1f3f5;
    color: #333333;
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.page-btn:hover {
    background-color: #27C7B9;
    color: #ffffff;
}

.page-btn.active {
    /*선택된 페이지 강조*/
    background-color: #27C7B9;
    color: #ffffff;
}

page-btn:focus {
    box-shadow: none !important;
    outline: none !important;
}


.status-badge {
    /*진행도뱃지*/
    margin: auto;
    display: inline-flex;
    padding: 6px 14px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

.status-gray {
    background-color: rgb(117, 117, 117);
}

/*업무준비*/
.status-red {
    background-color: red;
}

/*1~50*/
.status-yellow {
    background-color: rgb(255, 166, 0);
}

/*51-100*/
.status-blue {
    background-color: rgb(31, 121, 255);
}

/*완료요청*/
.status-green {
    background-color: rgb(1, 177, 39);
}

/*업무 완료*/