.task-status-badge {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
}

.task-status-red{
   background-color: #d10000;
    color: white; 
}

.task-status-gray {
    background-color: #9e9e9e;
    color: white;
}

.task-status-orange {
    background-color: #ff7b00;
    color: white;
}

.task-status-yellow {
    background-color: #f1c40f;
    color: #222;
}

.task-status-blue {
    background-color: #3498db;
    color: white;
}

.task-status-green {
    background-color: #20c767;
    color: white;
}