.workcation-btnSet {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;

    margin: 15px 0 20px;
}

.workcation-btnSet form {
    margin: 0;
}

.workcation-list tbody tr {
    cursor: pointer;
}

.workcation-list tbody tr:hover {
    background-color: #f5f5f5;
}

.drop-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.skedule-btn,
.main-region,
.sub-region,
.status-drop,
.apply-btn button {
    height: 28px;
    box-sizing: border-box;
}

.apply-btn {
    margin: 0;
}

.workcation-list {
    margin: 0 auto;
}

.paging-area {
    display: flex;
    justify-content: center;
    gap: 3px;
}