.workcation-btnSet,
table {
    width: 80%;
    margin: 0 auto;
}

.workcation-btnSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.drop-group,
.apply-btn {
    margin: 0;
    display: flex;
    gap: 12px;
}

.workcation-list tbody tr td {
    transition: background-color 0.2s ease-in-out;
}

.workcation-list tbody tr:hover td {
    cursor: pointer;
    background-color: rgba(216, 215, 215, 0.979);
}
