th {
    background-color: #EAEAEA;
}

table * {
    text-align: center;
    margin: auto;
}

tr:first-child{
    border-top: 1px solid black;
}

tr:nth-child(2) td:last-child input {
    width: 100px;
    flex : 1;
}

tr:nth-child(2) td:nth-child(2) input {
    background-color: white;
}

tr {
    border-bottom: 1px solid #bcbcbc;
}

.back {
    background-color : black;
    color : white;
    border-radius : 20px;
    padding : 3px 10px;
    float: right;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.d-flex>div {
    width: 180px;
    height: 130px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    background-color: #fafafa
}