.navi {
    background-color : black;
    height : 50px;
    text-align : center;
}

.navi>div {
    font-weight : 600;
    display : inline-block;
    width : 150px;
    height : 100%;
    line-height : 50px;
}

/* 
    리액트의 Link 컴포넌트는 실제 화면에 렌더링 될 때 a 요소로 렌더링 되기 때문에 
    CSS 로 요소를 선택할 때에도 a 요소로 선택하면 된다!!    
*/
.navi>div a {
    color : white;
    text-decoration : none;
    font-size : 16px;
    display : block;
    width : 100%;
    height : 100%;
}

.navi>div:hover {
    cursor : pointer;
    background-color: lightgray;
}