.place-info {
    width: 700px;
    margin: 50px auto;
    padding: 35px 45px;

    background-color: var(--wf-white);
    border: 1px solid var(--wf-border);
    border-radius: var(--wf-radius-lg);

    box-shadow: var(--wf-shadow-sm);

    box-sizing: border-box;

}