.QueueList{
    width: 1500px;
    margin: 50px auto;
    padding: 35px 45px;

    background-color: #ffffff;
    border-radius: 13px;
    
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;

}

.date-filter{
    margin: 10px;
    margin-left: 940px;
}
.date-filter input{
    border-radius: 5px;
    padding-left: 5px;
}
.date-filter span{
    padding: 5px;
}
.date-filter button{
    margin-left: 5px;
    border-radius: 5px;
    background-color: #f4fffe;
}
.thead th{
    background-color: rgba(193, 245, 250, 0.44);
}
.QueueList th:nth-child(1),
.QueueList td:nth-child(1) {
    width: 8%;
}

.QueueList th:nth-child(2),
.QueueList td:nth-child(2) {
    width: 25%;
}

.QueueList th:nth-child(3),
.QueueList td:nth-child(3) {
    width: 12%;
}

.QueueList th:nth-child(4),
.QueueList td:nth-child(4) {
    width: 25%;
}

.QueueList th:nth-child(5),
.QueueList td:nth-child(5) {
    width: 18%;
}

.QueueList th:nth-child(6),
.QueueList td:nth-child(6) {
    width: 12%;
}
.QueueList th,
.QueueList td {
    text-align: center;
    vertical-align: middle;
    padding: 15px 20px;
}
/* 승인 이력 목록 */
.QueueList tbody tr {
    transition: background-color 0.2s ease;
    cursor: pointer;
}

/* 마우스 오버 */
.QueueList tbody tr:hover {
    background-color: #f0f8ff;
}
.pagination button {
    color: #0dcaf0 !important;
    background-color: white !important;
}

.pagination button:hover:not(:disabled) {
    color: white !important;
    background-color: #0dcaf0 !important;
}