.insert-area h2 {
    border: 1px solid black;
    text-align: center;
}

.insert-btn {
    width: 80%;
    margin:  0 auto 10px auto;
    display: flex;
    justify-content: flex-end;
}

.workcation-insert {
    border: 1px solid black;
}